src/climin
data/
src/data
src/renders
src/true_densities.csv
src/test_densities.csv
src/evalall
src/test_renders
src/predicted/
src/test_display
img/output_draw.png
img/locationmap.png
src/pathfinding/maze/problems/
*.class

report/a
report/b
report/sources
report/__tmp1
report/__tmp2
report/sources/aaai.sty
report/report.aux
report/report.log
report/report.pdf
src/*.png
*.pyc
*.out
src/stat
*.zip
a
